{% extends "base.html" %} 

{% block title %}
{{tag.name}}
{% endblock %} 

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>{{tag.name}}</h2>

            <ul>
                {% for post in tag.posts %}
                <li>{{post.title}}</li>
                {% endfor %}
            </ul>
            <div class="row">
                <form action="/tags/{{tag.id}}/edit" class="ml-3">
                <button class="btn btn-primary">Edit</button>
                </form>
                <form action="/tags/{{tag.id}}/delete" method="POST" class="ml-2">
                <button class="btn btn-danger">Delete</button>
                </form>
                <form action="/" class="ml-2">
                <button class="btn btn-secondary">Home</button>
                </form>
            </div>  
        </div>
    </div>
</div>

{% endblock %}
